# First steps in PySpark 

In this notebook we will learn the fundamentals of functional programming, as well as the basic abstraction of a distributed object in Spark, the RDD. The notebook has been divided into two parts:

Part 1: map/reduce basics

Part 2: Work with RDD and Pair RDD abstractions 

<a href = "http://yogen.io"><img src="http://yogen.io/assets/logo.svg" alt="yogen" style="width: 200px; float: right;"/></a>

# Part 1: map/reduce basics

![Hadoop Logo](https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Hadoop_logo.svg/220px-Hadoop_logo.svg.png)
# **Apache Hadoop (MapReduce)**

It is an open source software framework written in Java for distributed storage and distributed processing of very large data sets on computer clusters built from commodity hardware. All the modules in Hadoop are designed with a fundamental assumption that hardware failures (of individual machines, or racks of machines) are common and thus should be automatically handled in software by the framework.

The core of Apache Hadoop consists of a storage part (Hadoop Distributed File System (HDFS)) and a processing part (MapReduce). Hadoop splits files into large blocks and distributes them amongst the nodes in the cluster. To process the data, Hadoop MapReduce transfers packaged code for nodes to process in parallel, based on the data each node needs to process. This approach takes advantage of data locality — nodes manipulating the data that they have on hand — to allow the data to be processed faster and more efficiently than it would be in a more conventional supercomputer architecture that relies on a parallel file system where computation and data are connected via high-speed networking.

![Map/shuffle/reduce](https://image.slidesharecdn.com/datasciencewebinar061312-120618165932-phpapp02/95/how-salesforcecom-uses-hadoop-41-728.jpg?cb=1340920667)

Since data and computation are distributed, we should avoid the use of variables, i.e. mutable data. Thus, in contrast to impertaive programming, we shall use the functional approach (lambda calculus).

### The goal of the following excercises is to understand basic lambda calculus with python.

### (1a) Functional programming in Python

So, what is Functional Programming? From Wikipedia: 

« …a  programing paradigm that treats computation as the evaluation of mathematical functions and **avoids changing-state and mutable  data**.»

It´s based upon Lambda calculus, wich consist of:
 * Function definition (declaration of expressions)
 * Function application (evaluation of those expressions)
 * Recursion (iteration)

We have already used this in python!!! :)

Recall the typical "lambda x: x+1" we have been using as the first argument of map, reduce and filter methods:
 * **map** maps each value in the input collection to a different value. It´s just the classical mathematical funciton we are used to!
 * **reduce** takes two values from the input collection and returns a new value (of the same type) by appliying a commutative operation to them. 
 * **filter** filters the elements in the input collection according to a certain (boolean) criteria.

**Mapping**

`map` is a Higher Order Function (HOF) that takes a function f and a sequence and returns a new sequence formed by applying f to each element in the original sequence. 

![map](https://cosminpupaza.files.wordpress.com/2015/10/map.png?w=505)

Very often we write lambdas, anonymous functions, to use in defining simple transformations with `map`:

In [2]:
input_list = [1, 2, 3]

list(map(lambda n: n**2, input_list))

[1, 4, 9]

We can also use named functions, of course. Note that we pass them as arguments to `map`, not execute them. You can think of them as tools we give to `map` for it to use.

In [4]:
def square(n):
  return n ** 2

list(map(square, input_list))

[1, 4, 9]

In [7]:
words = ['tortuga', 'pelicano', 'abubilla']

list(map(lambda word: word + 's', words))

[' tortugas', 'pelicanos', 'abubillas']

Consider the following very common pattern: create empty list, append transformed elements one by one:

In [8]:
result = []

for word in words:
  result.append(word + 's')

result

[' tortugas', 'pelicanos', 'abubillas']

We can abstract over every possible list by defining a function that takes the list as an argument:

In [11]:
def pluralize_list(input_list):
  result = []

  for word in input_list:
    result.append(word + 's')

  return result
pluralize_list(['coche', 'moto'])

[5, 4]

Consider this other piece of code: we are doing a very similar thing, but with a different function. A lot of the code is common between the two little programs.

Wouldn't it be convenient if we could abstract over every function, as we did over every list?

In [ ]:
def pluralize_list(input_list):
  result = []

  for word in input_list:
    result.append(len(word))

  return result
len_list(['coche', 'moto'])

We can, taking the function to be applied as an argument. This is because Python treats functions as first-class objects, so they can be used as arguments to other functions.

In [13]:
def process_list(f, input_list):
  result = []

  for word in input_list:
    result.append(f(word))

  return result
process_list(len, ['coche', 'moto'])
process_list(lambda word: word + 's', ['coche', 'moto'])

['coches', 'motos']

That function we just wrote, `process_list`, is exactly what `map` is

**Filtering**

`filter` encodes another very common pattern: building a sequence from some of the elements of an input sequence, deciding whether to include each based on the result of evaluating a function, often called the `predicate`, on each of the elements.


![filter](https://cosminpupaza.files.wordpress.com/2015/11/filter.png?w=405)

In [14]:
input_list = [75, 5, 14, 3]

list(filter(lambda n: n < 10, input_list))

[5, 3]

Again, we can use either lambdas or named functions.

In [16]:
def under10(n):
  return n < 10

list(filter(under10, input_list))

[5, 3]

In [ ]:
under10 = lambda n: n < 10
  return n < 10

list(filter(under10, input_list))

#### Exercise

write a filter to extract those words that have more than 3 letters from `collection_of_strings`

In [19]:
collection_of_strings = ['Holi', 'que', 'tal', 'colegui']

list(filter(lambda n: len(n) > 3, collection_of_strings))

['Holi', 'colegui']

#### Exercise

Write a filter to extract prime numbers from the following list of integers:

```python
[12, 17, 19, 18, 23, 24]
```

You will need to write a function that determines whether a single number is a prime or not.

In [32]:
def isprime(n):

  for candidate in range(2, n):
    if n % candidate == 0:
      return False

  return True

isprime(3)

True

In [33]:
list(filter(isprime, [12, 17, 19, 18, 23, 24]))

[17, 19, 23]

In [36]:
numbers = [12, 17, 19, 18, 23, 24]

list(filter(isprime, numbers))

[17, 19, 23]

In [38]:
[ x for x in numbers if isprime(x) ]

[17, 19, 23]

`map` and `filter` are not  used explicitly very often in Python, in part because of their cumbersome syntax. 

Nevertheless, there is a well-known feature in Python that is in fact just a convenient way to write `map`s and `filter`s: **list comprehensions**:

In [39]:
list(filter(lambda n: n > 20, filter(isprime, numbers)))

[ x ** 2 for x in numbers if isprime(x) ]

[289, 361, 529]

The above list comprehension is exactly equivalent to:

In [40]:
list(map(lambda x: x ** 2, filter(isprime, numbers)))

[289, 361, 529]

Which is a pipeline of two steps: first a `filter`, then a `map`

**Reducing** 

`reduce` is the third basic foundation of functional programming. Reduce uses a function, often called the `combiner`, to transform a sequence of elements of type T (that is, any type) into a single T. The combiner must take 2 Ts and return only one T.


Recall it must be commutative! Think about the importance of this when parallelizing computations

![reduce](https://cosminpupaza.files.wordpress.com/2015/11/reduce.png?w=500)

In [41]:
numbers

[12, 17, 19, 18, 23, 24]

In [7]:
from functools import reduce

reduce(lambda x, y: x + y, numbers)

NameError: ignored

#### Exercise

Write a function_x such that, when applied with `reduce`, that reduce returns the highest number in a list. Don't use the built-in `max`!

In [44]:
def function_x(a, b):
  print('executing function_f(%s, %s)' % (a,b))
  if  a > b:
    return a
  else:
    return b

reduce(function_x, numbers)

executing function_f(12, 17)
executing function_f(17, 19)
executing function_f(19, 18)
executing function_f(19, 23)
executing function_f(23, 24)

24

## (1b) Exercise: Calculate the mean of a collection of real numbers using map/reduce
Recall:

$$\bar x = \frac{\sum_{i=1}^{N} x_i}{N} $$

It´s straightforward to do this with python built-in mehots sum() and len(). However, how would you do that with map/reduce? We have already shown how to sum the elements of an array. Thus, you have to calculate the length of the array. For this:
 * Create another array of the same size, consisting of 1s.
 * Sum the elements of that array

#### First part

* Do a reduce to do the sum, and a different map-reduce to get the length

In [49]:
numbers

total = reduce(lambda x, y : x + y, numbers)
count = reduce(lambda x, y: x + y, map(lambda x: 1, numbers))
count

6

That was also a pipeline of two steps. It's equivalent to:

In [50]:
ones = map(lambda x: 1, numbers)
count = reduce(lambda x, y: x + y, ones)

average = total / count
average

18.833333333333332

In [ ]:
# Sistemas distribuidos, parametrizar todo lo posible.
# Minimizar el uso de la red.

#### Combine them in one pass

Think about what it would mean to finish one computation and only then do another in a distributed environment.

Combine both in one pass:

In [54]:
def tuple_combiner(t1, t2):
  return(t1[0] + t2[0], t1[0] + t2[1])


total, count = reduce(tuple_combiner, map(lambda x: (x, 1), numbers))

mean = total / count
mean

1.2555555555555555

## (1c) Exercise: Calculate the standard deviation of a collection of real numbers

We'll use the typical definition of the standard deviation:

$$\sigma_x^2 = \frac{\sum_{i=1}^{N} (x_i-\bar x)^2}{N}$$

For this, use the *mean* and *count* variables from the previous excercise.

In standard idiomatic Python we'd do it like this:

In [59]:
square_diffs = 0

for n in numbers:
  square_diffs += (n - mean) ** 2

square_diffs / count

21.65225514403292

With `map` and `reduce`:

In [60]:
reduce(lambda x, y: x + y, map(lambda n: (n - mean) ** 2, numbers)) / count

21.65225514403292

#### Calculate the standard deviation in one pass.

Again, think about what it would mean to finish one computation and only then do another in a distributed environment.


If we can, we should avoid broadcasting variables all over the cluster. In this case, the following alternative definition of standard deviation can come in handy:

$$\sigma_x^2 = \frac{\sum_{i=1}^{N} (x_i-\bar x)^2}{N} =
\frac{\sum_{i=1}^{N} (x_i^2+{\bar x}^2-2x_i\bar x)}{N} =
\frac{1}{N}\left(\sum_i x_i^2-N\bar x^2\right)$$

In [65]:
def tuple_combiner(t1, t2):  #Un combiner siempre come 2 elementos.
  return(t1[0] + t2[0], t1[1] + t2[1], t1[2] + t2[2])

  # Es como si hubieramos cogido un vector de entrada y lo hubieramos convertido en 3x3

sum_sq, total, count = reduce(tuple_combiner, map(lambda x: (x**2, x, 1), numbers))

mean = total / count
var = (sum_sq - count * mean ** 2) / count
mean, var

(18.833333333333332, 15.80555555555558)

#### Side note

In Python 2, map and filter returned lists. In Python 3, they return generators, which are lazy collections. They are somewhat similar to files in that they can be depleted of elements after iterating through them.

In [68]:
this_map = map(lambda x: (x ** 2, x, 1), numbers)
list(this_map)

[(144, 12, 1),
 (289, 17, 1),
 (361, 19, 1),
 (324, 18, 1),
 (529, 23, 1),
 (576, 24, 1)]

In [69]:
list(this_map)

[]

## (1d) Twe 'word-count' problem: creating histograms
Given a set of keys in an input collection, calculate the frequency of each key. 

In order to understand better how map/reduce works, we will implement this simple calculation in several forms.

We are going to use as test case a list of elements chosen from a small set:

In [4]:
import random


random.seed(42) #42 solución al universo de la "Guía del autoestopista galáctico"

vehicles = random.choices(['unicycle', 'catamaran', 'sidecar', 'autogiro'], k = 100)

### (1d.1) Simple approach

 * Start with an empty dict
 * If a new key is not present in the dict, create it.
 * Otherwise, increase the frequency of the key by one.

In [5]:
counts = {}

for vehicle in vehicles:
  if vehicle not in counts:
    counts[vehicle] = 1
  else:
    counts[vehicle] += 1

counts

{'autogiro': 22, 'catamaran': 21, 'sidecar': 28, 'unicycle': 29}

### (1d.2) Map/reduce

* Recall that *reduce* applies an operation to 2 elements of the same type, and returns another element of that type. Thus, the first thing to do is to map our collection to the type of the output. 
 
* The final result will be a dictionary of words in the vocabulary and counts. Therefore, we need to map each input word to this type.
 
* Then, we have to define a function, the combiner, that combines these dictionaries two at a time.

In [8]:
from functools import reduce
def dict_combiner(left, right):

  for key in left:
    if key not in right:
      right[key] = left[key]
    else:
      right[key] += left[key]
  
  return right
  
reduce(dict_combiner, map(lambda vehicle: {vehicle : 1}, vehicles))

{'autogiro': 22, 'catamaran': 21, 'sidecar': 28, 'unicycle': 29}

# Part 2: Spark. Work with RDD and Pair RDD abstractions 

![drawing](https://prateekvjoshi.files.wordpress.com/2015/10/1-main4.png)

# ** Apache Spark**

Apache Spark is an open source cluster computing framework originally developed in the AMPLab at University of California, Berkeley but was later donated to the Apache Software Foundation where it remains today. In contrast to Hadoop's two-stage disk-based MapReduce paradigm, Spark's multi-stage in-memory primitives provides performance up to 100 times faster for certain applications.

![](http://image.slidesharecdn.com/sparkandshark-120620130508-phpapp01/95/spark-and-shark-8-728.jpg?cb=1340197567)

By allowing user programs to load data into a cluster's memory and query it repeatedly, Spark is well-suited to machine learning algorithms.
![](http://spark.apache.org/images/logistic-regression.png)

Spark comes with a number of components that provide flexibility and generality.

<img src="http://spark.apache.org/images/spark-stack.png" alt="Drawing" style="width: 500px;"/>


## In this part, we keep on working on the word-count example, this time with spark. The basic abstraction of Spark is the Resilient Distributed Dataset (RDD):

#### «RDDs are fault-tolerant, parallel data structures that let users explicitly persist intermediate results in memory, control their partitioning to optimize data placement, and manipulate them using a rich set of operators.»

 * Read only, partitioned collection of records (immutable).
 * Stores the transformations used to build a dataset (its lineage), instead of the data itself. This property ensures fault-tolerance.
 * Users can control partitioning and persistence (caching).
 * RDDs are statically typed.
 * … and yes, everything is written in scala ;p. So you could use learning a bit of it!
 
<img src="http://eng.trueaccord.com/wp-content/uploads/2014/10/scala-logo.png" alt="Drawing" style="width: 200px;"/>

#### We will be trying to understand this abstraction with simple examples, using the [Python API](http://spark.apache.org/docs/latest/api/python/index.html)

### If you are running this notebook in Google Colab

Copy the following to a code cell and run it. It will install and set up Spark for you.

```python
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.uvigo.es/spark/spark-2.4.6/spark-2.4.6-bin-hadoop2.7.tgz
!tar -xf spark-2.4.6-bin-hadoop2.7.tgz
!pip install -q findspark

import os
import findspark
from pyspark.sql import SparkSession

os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.6-bin-hadoop2.7"
findspark.init()
spark = SparkSession.builder.master("local[*]").getOrCreate()
```

In [1]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://apache.uvigo.es/spark/spark-2.4.6/spark-2.4.6-bin-hadoop2.7.tgz
!tar -xf spark-2.4.6-bin-hadoop2.7.tgz
!pip install -q findspark pyspark==2.4.6
 
import os
import findspark
from pyspark.sql import SparkSession
 
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.6-bin-hadoop2.7"
findspark.init()
spark = SparkSession.builder.master("local[*]").getOrCreate()

     |████████████████████████████████| 218.4MB 62kB/s
     |████████████████████████████████| 204kB 43.8MB/s
  Building wheel for pyspark (setup.py) ... done

In [3]:
sc = spark.sparkContext
sc

### ** (2a) Create a base RDD: parallelize, actions and transformations **
We'll start by generating a base RDD by using a Python list and the `sc.parallelize` method.  Then we'll print out the type of the base RDD.

We use sc.parallelize to convert a standard Python collection into an RDD.

In [10]:
rdd = sc.parallelize(vehicles)

In Spark, `map` is a method of the RDD type.

In [12]:
plurals = rdd.map(lambda word: word + 's') 
#Representa algo que no es una lista, pero se comporta como una lista.
plurals

PythonRDD[3] at RDD at PythonRDD.scala:53

**Nothing has actually happened!**

`parallellize` tells spark to distribute the data, but this is not actually done until we perform some action.

Possible actions include counting, collecting, reducing, taking, etc. Take a look at the [Spark programming guide](http://spark.apache.org/docs/2.2.0/rdd-programming-guide.html#actions)

In [14]:
plurals.take(5)

['sidecars', 'unicycles', 'catamarans', 'unicycles', 'sidecars']

In [15]:
plurals.count()

100

#### Exercise

Calculate, from the rdd generated from 'vehicles', how many vehicles we have that do not contains any 's'

In [17]:
filtered = rdd.filter(lambda word: 'a' not in word)
filtered.count()

29

A very common way to write these chained operations in Spark is to put each on a line. Due to Python's syntax, we need to escape the newline character with a backslash.

In [18]:
rdd.filter(lambda word: 'a' not in word).count()

29

### Actions and Transformations

There are two main types of operations in Spark:
[Actions](http://spark.apache.org/docs/2.2.0/rdd-programming-guide.html#actions) and [Transformations](http://spark.apache.org/docs/2.2.0/rdd-programming-guide.html#transformations).

**Transformations** produce an RDD. Some of the most important are `map`, `filter`, and `reduceByKey`. `sc.parallelize` and `sc.textFile` are not technically Transformations but you can think of them as such in one very important respect: they are *lazyly evaluated*. That is, when we perform a Transformation, we are only describing the operation to be performed at some point in the future. They attach a node to the execution graph.

**Actions** are implemented as methods on an RDD, and return an object of a type **that is not an RDD**. When we perform an Action, we give the order to execute the previously described transformations: we trigger the execution of the graph. Some of the most important are `reduce`, `collect`, `take`, `takeOrdered`, and `count`.

In [26]:
numbers = sc.parallelize(range(100000000))

In [27]:
import math

math.sqrt

In [28]:
%%time

roots = numbers.map(math.sqrt)

CPU times: user 47 µs, sys: 6 µs, total: 53 µs
Wall time: 57.2 µs

In [29]:
%%time
roots.take(5)

CPU times: user 6.91 ms, sys: 893 µs, total: 7.8 ms
Wall time: 117 ms

[0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0]

In [30]:
%%time
roots.count()

CPU times: user 9.38 ms, sys: 2.82 ms, total: 12.2 ms
Wall time: 24.6 s

100000000

### **(2b) Persisting and the RDD lineage**

So far, we have seen that Spark RDDs are *lazyly evaluated*, i.e. nothing is actually done until an action is performed. In the RDD, the set of transformations to be applied are remembered: this is known as its *lineage*. It has the important consequence of making Spark RDDs *fault tolerant* automatically.

![](http://images.slideplayer.com/14/4499833/slides/slide_10.jpg) 

It might be interesting to store some intermediate results, though: perhaps because we want to apply several different transformations starting from that point, or because we are going to apply an iterative computation (as is customary in machine learning algorithms). For this, Spark has [several ways of persisting](http://spark.apache.org/docs/latest/rdd-programming-guide.html#rdd-persistence)

In [32]:
%%time
sc.parallelize(range(10000000)).map(math.sqrt).count()

CPU times: user 7.99 ms, sys: 1.91 ms, total: 9.9 ms
Wall time: 2.63 s

10000000

StorageLevel cannot be changed after it has been set. We need to `unpersist` first.

In [ ]:
roots.getStorageLevel()

### **(2c) Partitioning **

One important parameter for parallel collections is the number of partitions to cut the dataset into. Spark will run one task for each partition of the cluster. Typically you want 2-4 partitions for each CPU in your cluster.

To get the number of partitions of an RDD, just use `getNumPartitions()` on your RDD. You can change the partitions during RDD creation (with `parallelize(collection,numPartitions)` or `fromTextFile(file,numPartitions)`), or afterwards with methods like `repartition(), coalesce()`, etc.

We can see the partitions using [glom()](http://spark.apache.org/docs/latest/api/python/pyspark.html?highlight=glom#pyspark.RDD.glom): it retruns an RDD created by coalescing all elements within each partition into a list.

Partitions are one of the most powerfull concepts in Spark: you can decide how to distribute your data so it can fit in memory, and more importantly, you can perform computations on each partition *before* speaking to other partitions. This can have an enormous impact on performance

### **(2c) Pair RDDs: *grouping* strategies in Spark**

The next step in writing our word counting program is to create a new type of RDD, called a pair RDD. A pair RDD is an RDD where each element is a pair tuple (k, v) where k is the key and v is the value. In this example, we will create a pair consisting of ('<word>', 1) for each word element in the RDD, as we did in the map/reduce version of the histogram in Python, section (1d.2).

We can create the pair RDD using the map() transformation with a lambda() function to create a new RDD.

### ** (2c.1) `groupByKey()` approach **
An approach you might first consider (we'll see shortly that there are better ways) is based on using the [groupByKey()](http://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.RDD.groupByKey) transformation. As the name implies, the `groupByKey()` transformation groups all the elements of the RDD with the same key into a single list in one of the partitions. There are two problems with using `groupByKey()`:
  + The operation requires a lot of data movement to move all the values into the appropriate partitions.
  + The lists can be very large. Consider a word count of English Wikipedia: the lists for common words (e.g., the, a, etc.) would be huge and could exhaust the available memory in a worker.
 
Use `groupByKey()` to generate a pair RDD of type `('word', iterator)`. Next, sum the iterator using a `map()` transformation.  The result should be a pair RDD consisting of (word, count) pairs.

### ** (2c.2)  `reduceByKey` approach **
A better approach is to start from the pair RDD and then use the [reduceByKey()](http://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.RDD.reduceByKey) transformation to create a new pair RDD. 

The `reduceByKey()` transformation gathers together pairs that have the same key and applies the function provided to two values at a time, iteratively reducing all of the values to a single value. `reduceByKey()` operates by applying the function first within each partition on a per-key basis and then across the partitions, allowing it to scale efficiently to large datasets.

![](https://databricks.gitbooks.io/databricks-spark-knowledge-base/content/images/reduce_by.png)

#### Summary: word count in Spark:

## (2d) Apply word count to a file

### ** (2d.1) Load a text file **
For the next part of this lab, we will use the [Complete Works of William Shakespeare](http://www.gutenberg.org/ebooks/100) from [Project Gutenberg](http://www.gutenberg.org/wiki/Main_Page). To convert a text file into an RDD, we use the `SparkContext.textFile()` method. We also apply the recently defined `removePunctuation()` function using a `map()` transformation to strip out the punctuation and change all text to lowercase.  Since the file is large we use `take(15)`, so that we only print(15 lines.)

Copy this into a notebook cell:

```
!wget -v http://www.gutenberg.org/files/100/100-0.txt -O shakespeare.txt
```

### ** (2d.2) Capitalization and punctuation **
Real world files are more complicated than the data we have been using in this lab. Some of the issues we have to address are:
  + Words should be counted independent of their capitialization (e.g., Spark and spark should be counted as the same word).
  + All punctuation should be removed.
  + Any leading or trailing spaces on a line should be removed.
 
Define the function `removePunctuation` that converts all text to lower case, removes any punctuation, and removes leading and trailing spaces.  Use the Python [re](https://docs.python.org/2/library/re.html) module to remove any text that is not a letter, number, or space. Reading `help(re.sub)` might be useful.

http://www.regular-expressions.info/quickstart.html

https://regex101.com/

### ** (2d.3) Words from lines **
Before we can use the `wordcount()` function, we have to address two issues with the format of the RDD:
  + The first issue is that  that we need to split each line by its spaces.
  + The second issue is we need to filter out empty lines.
 
Apply a transformation that will split each element of the RDD by its spaces. For each element of the RDD, you should apply Python's string [split()](https://docs.python.org/3/library/stdtypes.html#str.split) function. You might think that a `map()` transformation is the way to do this, but think about what the result of the `split()` function will be.

Check out the Spark Programming Guide for an alternative transformation that helps us here.

### (2d.4) Count the words and show the top 15

We know the drill at this point, don't we? We map to a tuple then `reduceByKey`

We can view the top 15 words by using the `takeOrdered()` action; however, since the elements of the RDD are pair tuples, we need a custom sort function that sorts using the value part of the pair rather than the key.

You'll notice that many of the words are common English words (know as stopwords).

Use our map reduce and and `takeOrdered()` to obtain the fifteen most common words and their counts.

# Practical

## ETL with airline coupon data

Load the data first: coupon data

#### Exercise

Take fields 0, 2, 3, 4, and 6 from each line of coupons

#### Intermission: Stack traces in Spark

Stack traces in pyspark are quite convoluted because we have many layers of processing. Look for the python stack trace contained within the Py4JJavaError message.

#### Exercise

Keep only the amount. Get average, max, min and std

#### All in one go!

#### Exercise

Get stats on ticket amount for all tickets with destination MAD

You will need to extract ticket amounts with destination MAD, and then calculate:

1. Total ticket amounts per origin
2. Top 10 airlines by average amount

#### Part 1

We need to filter coupons with destination Madrid, and after that group on the origin.

At this point, we only need the origin, to group on, and the value, to sum

We are now ready to reduce all amounts per origin.

#### Part 2

This is very similar, with two differences: we need to group on the airline, and to calculate averages we need to keep track of both the total amount on the coupons and the number of coupons.

Now we reduce tuples, summing each component of the tuple separately.

This reduceByKey generates an RDD of the form (k, (v1, v2)). We can map it like this:

Or we can use the mapValues method to only process the (v1, v2) part, ignoring the key for processing without discarding it.

And we're ready to take our result.

#### Stretch: 

Get the totals from first origin without using the coupon number

We'll use groupBy this time, because we need to look at every coupon in a ticket in order to identify first origin.

A ResultIterable is a lazy collection, so we can take it and iterate over it, or turn it into a list to materialize it. This is useful to get a test case to test the function we will be writing.

We are going to compare the set of origins to the set of destinations. The one that is in the first but not in the second should be the first origin.

Now we have have our values, so we are ready to get the totals and sort. Before we reduceByKey, we need to reshape our tuples so the first origin is the key.

### Further resources

https://s3.amazonaws.com/assets.datacamp.com/blog_assets/PySpark_Cheat_Sheet_Python.pdf